
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout - First.cshtml";
}

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="hero__box">
                <div class="hero__image hidden-xs col-sm-12 text-center">
                    <img src="/Images/First/img/rocket.svg" alt="rocket flying out of the monitor">
                </div>
                <div class="hero__text col-sm-12 text-center"><h1>DeployStack</h1></div>
            </div>
        </div>
    </div>
</section>
@*<main>
    <div class="main main-raised">
        <div class="row text-center">
            <div class="col-sm-12">
                <section class="category u-mb-large">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <h2 class="category__header">Contact</h2>
                                <p>
                                    All the code is available on <a href="https://github.com/switowski/deploystack" target="_blank">GitHub</a>
                                    and it's under the <a href="https://github.com/switowski" target="_blank">MIT License</a>. If you have any questions or comments, you can <a href="https://github.com/switowski/deploystack/issues" target="_blank">create an issue on GitHub</a>, so other people can join the conversation. If you don't have a GitHub account, don't know how to create an issue or just don't think that it's something that has to be discussed publicly, just drop me an email:&nbsp;<span class="email-address"><strong>info</strong>(at)<strong>deploystack</strong>(dot)<strong>io</strong>.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>*@


