
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout - OnlineTest.cshtml";
}

<div class="container">
    <div class="col-md-12"></div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
    <div class="row">
        <div class="col-lg-3">如果有一天</div>
        <div class="col-lg-3">我回到从前</div>
        <div class="col-lg-3">回到最原始的我</div>
        <div class="col-lg-3">你是否会觉得我不错</div>
    </div>
</div>

